
KinzooTask/KinzooTask.xcodeproj/project.xcworkspace/contents.xcworkspacedata
KinzooTask/KinzooTask.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
KinzooTask/KinzooTask.xcodeproj/project.xcworkspace/xcuserdata/victorsebastian.xcuserdatad/UserInterfaceState.xcuserstate
KinzooTask/KinzooTask.xcodeproj/xcuserdata/victorsebastian.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
